<h1>Pages#home</h1>




<% @articles.each do |x| %>
  
  <%= x.title %>
  <%= x.category.title %>
<% end %>




<h2><%= link_to 'Articles', articles_path %></h2>
<h2><%= link_to 'Sign_Up', new_user_registration_path %></h2>
<h2><%= link_to 'Sign_Out', destroy_user_session_path, method: :delete %></h2>