
<h1>Listing articles</h1>

  <p class="notice"><%= @notice %></p>
  <p class="alert"><%= @alert %></p>


<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Category</th>
      <th>View</th>
      <% if current_user.roles == "admin" || "editor" %>
        <th>Edit</th>
        <th>View</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <th scope="row">1</th>
      <td><%= article.title %></td>
      <td><%= article.category.title %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <% if current_user %>
        <% if current_user.id == article.user_id || current_user.roles[0].to_s == "admin" %>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>