<h1>Listing Categories</h1>

  <p class="notice"><%= @notice %></p>
  <p class="alert"><%= @alert %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Edit</th>
      <th scope="col">Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th scope="col">1</th>
        <td scope="col"><%= category.title %></th>
        <td><%= link_to 'Edit', edit_category_path(category), class: 'col' %></th>
        <td><%= link_to 'Destroy', category_path(category),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>